* {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}
.header__container {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.header__container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #FFF5C3;
  z-index: 2;
}


.header__logo {
   text-transform: uppercase;
  font-family: sans-serif;
    font-weight: 900;
  letter-spacing: 2px;
  position: relative;
  z-index: 3;
}

.header__logo a {
  text-decoration: none;
  color: #FF7640;
}
.header__logo  a:hover {
  color: burlywood;
}
.header__menu {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  position: relative;
  z-index: 3;
}
.header__menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  font-family: sans-serif;
}
.header__menu li {
  margin-right: 20px;
}
.header__menu li a:hover {
  background-color: burlywood;
}
.header__menu li a {
  text-decoration: none;
  color: #FF7640;
  font-weight: 600;
}
.header__contacts{
  position: relative;
  z-index: 3;
}
.header__contacts a {
  text-decoration: none;
  color: #FF7640;
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
}

.description {
  padding-top: 80px;
  text-align: center;
  background-image: url(../img/upd_descr_slide.jpg);
  width: 100%;
  
  /*background-image: url(../img/description_fon.jpg);
  padding-bottom: 32px;
  background-repeat: no-repeat;
  background-size: 77% 153%;
  background-position: center;*/
}
.description__wrapper {
  width: 100%;
  padding: 0 100px;
 
}

h1 {
 text-transform: uppercase;
    font-family: sans-serif;
    color: brown;
    font-weight: 900;
    opacity: 0.7;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.description p {
  margin-top: 15px;
  font-size: 20px;
  font-family: sans-serif;
  background-position: center;
}

.filters__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding: 17px 92px 0px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  /*background-color: #e3aa5f;*/
  opacity: 0.7;
}

.filters__wrapper > div {
  background-size: 101% 101%;
  background-repeat: no-repeat;
}
.taste {
  width: 10rem;
    height: 5rem;
    border: 2px solid rgb(255, 255, 255);
    margin: 4px;
    text-align: center;
    line-height: 5rem;
    font-family: sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10%;
    background-size: 101% 101%;
    color: white;
    user-select: none;
    cursor:pointer;
 }
.taste:hover {
  border: black 2px solid;
}

.constructor_wrapper {
  display: flex;
  flex-direction: row;
  /*background-color: #e3aa5f;*/
  opacity: 0.7;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 5%;
}


.jamjar {
  position: relative;
  width: 43%;
}

.jamjar:before {
  content: "";
  position: absolute;
  width: 17rem;
  height: 25rem;
  display: block;
  right: 7.5rem;
  top: -7rem;
  z-index: -1;
  bottom: -84px;
  background: url(../img/customer_choice_fon.jpg) no-repeat left top;

}

.final__choice input {
  width: 20rem;
  height: 3rem;
  font-size: 1.5rem;
}

.customer__choice {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  padding: 0 5% 0px 10%;
  }
.choice_button {
  padding: 10px 5px;
  border-radius: 10px;
  background-color: #FFF5C3;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0;
  width: 100%;
}

.choice_button:hover{
  font-weight: 900;
  background-color: burlywood;
 }



.sidebar__trash {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border:orange solid 2px;
  padding-left: 1%;
  padding-right: 1%;
}

.sidebar__trash input {
  width: 40px;
  margin: 0 10px;
}
.sidebar__trash li {
  margin: 10px 0;
  border: orange 1px solid;
  padding: 2px;
}

.sidebar__trash li span {
  color:red;
  font-weight: 900;
  cursor: pointer;
}

.counter {
  width: 100px;
  height: 100px;
  border: black 2px solid;
}

.total_amount {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sidebar__trash .choice_button {
  width: 70%;
}
.final__choice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}
.ready__jam {
  /*background-color: #e3aa5f;*/
  opacity: 0.7;
  width: 100%;
  padding-bottom: 1%;
  padding-top: 5%;
}
.ready__jam h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  color: brown;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
#readyJamList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 180px;
  max-width: 100%;
  border:orange solid 2px;
}
.ready__jam ul li {
  
  list-style-type: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}

.ready__jam ul li:hover{
  color: brown;

  
}
.ready__jam ul li:active{
  color: brown;
  border:orange solid 2px;
  width:210px;
 
}

.footer__contacts {

  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
  background-color: #FFF5C3;
  /* opacity: 0.7; */
 
 }
.footer__contacts a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.footer__contacts p {
  color: black;
  font-weight: 700;
}
#orderPopUp {
  display: none; 
  align-items: center; 
  justify-content: center; 
  border:orange solid 2px;
  position: absolute;
  background-color:white;
  z-index: 10;
  width: 35rem;
  height: auto;
  font-family: sans-serif;
  top: 300px;
  left: 40%;
}



#orderPopUp h4{
  font-size: 2rem;
}

#orderPopUp input {
  width: 50%;
  height: 1.5rem;
  border:orange solid 1px;
  margin: 10px 0;
}
#orderPopUp input[type="checkbox"] {
  width: auto !important;
  margin:0;
 zoom: 1.5;
 height:auto;
}


#orderPopUp ul li input{
  width: 3rem;
  margin-left: 5px;
}
#orderPopUp ul li{
  list-style-type: none;
}

#orderPopUp input:focus{
  box-shadow: 0 0 10px rgba(143, 133, 8, 0.6);
  border: orange solid 2px;
}

#orderPopUp textarea{
  margin-top: 15px;
  width: 20rem;
  border:orange solid 1px;
}

#orderPopUp textarea:focus{
  box-shadow: 0 0 10px rgba(235,	197,	8, 0.6);
  border: orange solid 2px;
}

#closeOrderPopUp {
  position: absolute;
  right:10px;
  top:5px;
  font-weight: 900;
  color: red;
  cursor: pointer;
}
#fullOrderPrice {
  width: 50px;
  height: 1.5rem;
  border: none !important;

}

